body{
    font-family: Arial;
    background: linear-gradient(135deg,#74b9ff,#a29bfe);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
    width:300px;
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

input{
    width:80%;
    padding:10px;
    margin:10px 0;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    padding:10px 20px;
    background:#0984e3;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0652DD;
}

.weather-box{
    margin-top:20px;
}
/* Created by NS badge */

.created-by-ns{
position: fixed;
bottom: 15px;
left: 15px;
background: linear-gradient(135deg,#00c6ff,#0072ff);
color: white;
padding: 8px 14px;
border-radius: 25px;
font-size: 13px;
font-weight: bold;
letter-spacing: 1px;
box-shadow: 0 5px 15px rgba(0,0,0,0.3);
font-family: Arial, sans-serif;
animation: glow 3s infinite alternate;
z-index: 9999;
}

@keyframes glow{
from{
box-shadow:0 0 5px #00c6ff;
}
to{
box-shadow:0 0 20px #0072ff;
}
}